<div class="nav-panel-explore{{#unless page.navigation}} is-active{{/unless}}" data-panel="explore">
  {{#if page.component}}
  <div class="context">
    <span class="title">{{page.component.title}}</span>
    <span class="version">{{page.componentVersion.displayVersion}}</span>
  </div>
  {{/if}}
  <ul class="components">
    {{#each site.components}}
    <li class="component{{#if (eq this @root.page.component)}} is-current{{/if}}">
      <a class="title" href="{{{relativize ./url}}}">{{{./title}}}</a>
      <ul class="versions">
        {{#each ./versions}}
        <li class="version
          {{~#if (and (eq .. @root.page.component) (eq this @root.page.componentVersion))}} is-current{{/if~}}
          {{~#if (eq this ../latest)}} is-latest{{/if}}">
          <a href="{{{relativize ./url}}}">{{./displayVersion}}</a>
        </li>
        {{/each}}

        <!-- remove this once the release of 5, 4 and 3 is confirmed - @Amit -->
        {{#if (or (eq ./title "TinyMCE Documentation [BETA]") (eq ./title "TinyMCE Documentation") )}}
        <li class="version">
          <a href="https://www.tiny.cloud/docs/tinymce/6/">6</a>
        </li>
         <li class="version">
          <a href="https://www.tiny.cloud/docs/">5</a>
        </li>
        <li class="version">
          <a href="https://www.tiny.cloud/docs-4x/">4</a>
        </li>
        <li class="version">
          <a href="https://www.tiny.cloud/docs-3x/">3</a>
        </li>
        {{/if}}

      </ul>
    </li>
    {{/each}}
  </ul>
</div>
